<table>
  <thead>
    <td><strong>ID</strong></td>
    <td><strong>Name</strong></td>
    <td><strong>Age</strong></td>
    <td><strong>Company</strong></td>
    <td><strong>Working</strong></td>
  </thead>
  <tbody *ngFor="let employee of employees?.employeeList; index as i">
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.company.name }}</td>
      <td>
        <span *ngIf="employee.isWorking">✓</span>
        <span *ngIf="!employee.isWorking">✗</span>
      </td>
      <td>
        <i class="bi bi-trash" (click)="deleteEmployee(employee)"></i>
      </td>
      <td>
        <i class="bi bi-pencil-square" (click)="formUpdate(employee)"></i>
      </td>
    </tr>
  </tbody>
</table>

<hr />

<h3>Add an employee:</h3>
<form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    formControlName="name"
    [ngClass]="{
      inputError: AEName?.touched && !AEName?.valid,
      inputSuccess: AEName?.valid
    }"
  />
  <div *ngIf="AEName?.touched && !AEName?.valid" class="errorText">
    <p *ngIf="AEName?.errors?.['required']">Name is required.</p>
    <p *ngIf="AEName?.errors?.['minlength']">
      Name must be at least
      {{ AEName?.errors?.['minlength'].requiredLength }}
      characters long.
    </p>
    <p *ngIf="AEName?.errors?.['maxlength']">
      Name can only be
      {{ AEName?.errors?.['maxlength'].requiredLength }}
      characters long.
    </p>
    <p *ngIf="AEName?.errors?.['pattern']">
      First name must contain only letters.
    </p>
  </div>
  <br />
  <label for="age">Age:</label>
  <input
    type="number"
    id="age"
    name="age"
    formControlName="age"
    [ngClass]="{
      inputError: AEAge?.touched && !AEAge?.valid,
      inputSuccess: AEAge?.valid
    }"
  />
  <div *ngIf="AEAge?.touched && !AEAge?.valid" class="errorText">
    <p *ngIf="AEAge?.errors?.['required']">Age is required.</p>
    <p *ngIf="AEAge?.errors?.['min']">
      Minimun age is
      {{ AEAge?.errors?.['min'].min }}.
    </p>
    <p *ngIf="AEAge?.errors?.['max']">
      Maximun age is
      {{ AEAge?.errors?.['max'].max }}.
    </p>
    <p *ngIf="AEAge?.errors?.['pattern']">Age must contain only numbers.</p>
  </div>
  <br />
  <label for="company">Company:</label>
  <select
    formControlName="company"
    [ngClass]="{
      selectError: AECompany?.touched && !AECompany?.valid,
      selectSuccess: AECompany?.valid
    }"
  >
    <option *ngFor="let company of companies" [ngValue]="company">
      {{ company.name }}
    </option>
  </select>
  <div *ngIf="AECompany?.touched && !AECompany?.valid" class="errorText">
    <p *ngIf="AECompany?.errors?.['required']">Company is required.</p>
  </div>
  <br />
  <label for="isWorking">Working:</label>
  <input
    type="checkbox"
    id="isWorking"
    name="isWorking"
    formControlName="isWorking"
  />
  <br />
  <button type="submit" [disabled]="!addEmployeeForm.valid">Add</button>
</form>

<hr />
<h3>Update an employee:</h3>
<form
  [formGroup]="updateEmployeeForm"
  (ngSubmit)="updateEmployee()"
  *ngIf="updatingEmployee"
>
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    formControlName="name"
    [ngClass]="{
      inputError: UEName?.touched && !UEName?.valid,
      inputSuccess: UEName?.valid
    }"
  />
  <div *ngIf="UEName?.touched && !UEName?.valid" class="errorText">
    <p *ngIf="UEName?.errors?.['required']">Name is required.</p>
    <p *ngIf="UEName?.errors?.['minlength']">
      Name must be at least
      {{ UEName?.errors?.['minlength'].requiredLength }}
      characters long.
    </p>
    <p *ngIf="UEName?.errors?.['maxlength']">
      Name can only be
      {{ UEName?.errors?.['maxlength'].requiredLength }}
      characters long.
    </p>
    <p *ngIf="UEName?.errors?.['pattern']">
      First name must contain only letters.
    </p>
  </div>
  <br />
  <label for="age">Age:</label>
  <input
    type="number"
    id="age"
    name="age"
    formControlName="age"
    [ngClass]="{
      inputError: UEAge?.touched && !UEAge?.valid,
      inputSuccess: UEAge?.valid
    }"
  />
  <div *ngIf="UEAge?.touched && !UEAge?.valid" class="errorText">
    <p *ngIf="UEAge?.errors?.['required']">Age is required.</p>
    <p *ngIf="UEAge?.errors?.['min']">
      Minimun age is
      {{ UEAge?.errors?.['min'].min }}.
    </p>
    <p *ngIf="UEAge?.errors?.['max']">
      Maximun age is
      {{ UEAge?.errors?.['max'].max }}.
    </p>
    <p *ngIf="UEAge?.errors?.['pattern']">Age must contain only numbers.</p>
  </div>
  <br />
  <label for="company">Company:</label>
  <select
    formControlName="company"
    [ngClass]="{
      selectError: UECompany?.touched && !UECompany?.valid,
      selectSuccess: UECompany?.valid
    }"
  >
    <option *ngFor="let company of companies" [ngValue]="company">
      {{ company.name }}
    </option>
  </select>
  <div *ngIf="UECompany?.touched && !UECompany?.valid" class="errorText">
    <p *ngIf="UECompany?.errors?.['required']">Company is required.</p>
  </div>
  <br />
  <label for="isWorking">Working:</label>
  <input
    type="checkbox"
    id="isWorking"
    name="isWorking"
    formControlName="isWorking"
  />
  <br />
  <button type="submit" [disabled]="!updateEmployeeForm.valid">Update</button>
</form>
